@use '../abstract/mixin' as *;

.article {
    position: relative;
    height: 100%;
    background-color: var(--main-color);
    overflow: hidden;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    &__title {
        text-transform: uppercase;
        position: inherit;
        z-index: 9;
        font-size: 1.5rem;
        padding: 1rem;
        height: 8%;
        &__hidden {
            display: none;
        }
    }
    &__content {
        position: relative;
        z-index: 8;
        display: flex;
        align-items: center;
        overflow: hidden;
        width: 90%;
        height: 92%;
        padding: 0 1rem;
        @include mq(M) {
            width: 88%;
        }
    }
}