@use '../abstract/mixin' as *;

.card {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 1rem;
    background-color: var(--secondary-color);
    border: 5px solid var(--third-color);
    padding: 1rem;
    margin: 1rem;
    border-radius: 25px;
    position: relative;
    width: 250px;
    cursor: pointer;
    transition: transform 0.3s;
    @include mq(M) {
        width: 350px;
        padding: 2rem;
    }
}

.card:hover {
    background-color: var(--card-hover-color);
    transform: scale(1.1);
}

.card__title {
    font-size: 1.5rem;
    padding: 0 1rem;
    text-transform: uppercase;
}

.card__description {
    font-size: var(--fs-regular);
    text-align: justify;
    height: 100%;
    overflow: hidden;
}

.card__price {
    font-weight: bold;
    text-align: end;
    position: absolute;
    bottom: 0px;
    width: 85%;
    font-size: 1.5rem;
}

.price__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price__text {
    font-size: 1rem;
}