@use '../abstract/mixin' as *;

.description {
    position: relative;
    z-index: 7;
    background-image: 
        linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.5)
        ),
        url('../../public/assets/home2.webp');
    background-position: 85%;
    background-repeat: no-repeat;
    background-size: cover;
    @include mq(M) {
        background-position: center;
    }
    &__content {
        display: flex;
        flex-direction: column;
        gap: 5rem;
        height: 100%;
        width: 90% !important;
        text-shadow: 0px 0px 2px var(--grey-color);
        padding: 5rem 5% !important;
        text-align: center;
        @include mq(L) {
            padding: 9rem 10% !important;
            width: 100% !important;
        }
        &__main {
            font-size: 1.5rem;
            font-weight: bold;
            text-transform: uppercase;
            @include mq(L) {
                font-size: 2.5rem;
            }
        }
        &__sub {
            font-size: 1rem;
        }
    }
}