@use '../abstract/mixin' as *;

.nav {
    position: fixed;
    z-index: 15;
    display: flex;
    flex-direction: column;
    list-style: none;
    top: 30%;
    transform: translateY(-20%);
    right: 0.5rem;
    @include mq(M) {
        top: 50%;
        transform: translateY(-50%);
        right: 2rem;
        gap: 0.6rem;
    }
    &__element {
        display: flex;
        align-items: center;
        color: white;
        font-size: 1.5rem;
        text-decoration: none;
        transition: transform 0.3s;
        @media (hover: hover) {
            &:hover .nav__icon {
                background-color: rgb(117, 117, 117);
            }
            
            &:hover {
                transform: scale(1.2);
            }
        }
        &__current {
            background-color: white;
        }
    }
    &__icon {
        display: inline-block;
        margin: 1rem 0.5rem;
        width: 20px;
        height: 20px;
        border: 3px solid white;
        border-radius: 50%;
        cursor: pointer;
    }
    &__text {
        display: none;
        text-transform: capitalize;
        @include mq(L) {
            display: block;
        }
    }
}

#description, #forfaits, #prestations, #contact {
	scroll-behavior: smooth;
}


