@use '../abstract/mixin' as *;

.prestations__list {
    height: 30rem;
    @include mq(M) {
        height: 35rem;
    }
}

.prestation__card {
    height: 10rem;
}

.prestation__card .card__price {
    font-size: 1rem;
}