@use '../abstract/mixin' as *;

.prestations__list {
    //height: 34rem;
    @include mq(M) {
        height: 80% !important;
    }
}

.prestation__card {
    height: 15rem;
    width: 13rem !important;
}

.prestation__card .card__price {
    font-size: 1rem;
}