@use '../abstract/mixin' as *;

body {
    font-family: var(--ff-source);
    font-size: var(--fs-regular);
    color: white;
    height: 100vh;
    overflow-y: hidden;
    -webkit-tap-highlight-color: transparent;
}

.header {
    position: relative;
    z-index: 10;
    height: var(--mobile-header-height);
    background: var(--secondary-color);
    @include mq(M) {
        height: var(--header-height);
    }
}

.main {
    height: var(--mobile-main-height);
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    /* Firefox scrollbar */
    scrollbar-width: none;
    /* other scrollbar */
    &::-webkit-scrollbar {
        display: none;
    }
    @include mq(M) {
        height: var(--main-height);
    }
}

.background__image {
    position: fixed;
    z-index: 5;
    width: 20rem;
    top: 3rem;
    left: 0rem;
    @include mq(M) {
        width: 50rem;
        top: 5rem;
        left: 20rem;
    }
}