@use '../abstract/mixin' as *;

body {
    font-family: var(--ff-source);
    font-size: var(--fs-regular);
    color: white;
    height: 100vh;
    overflow-y: hidden;
}

.header {
    position: relative;
    z-index: 10;
    height: var(--header-height);
    background: var(--secondary-color);
}

.main {
    height: var(--main-height);
    overflow-y: hidden;
}

.background__image {
    position: fixed;
    z-index: 5;
    width: 20rem;
    top: 3rem;
    left: 0rem;
    @include mq(M) {
        width: 50rem;
        top: 5rem;
        left: 20rem;
    }
}