:root {
    --header-height: 10%;
    --main-height: calc(100% - var(--header-height));

    --main-color: rgb(18, 11, 59);
    --secondary-color: rgb(70, 52, 169);
    --third-color: rgb(40, 33, 80);
    --grey-color: rgb(84, 81, 110);
    --pink-color: rgb(240, 74, 255);
    --orange-color: rgb(232, 195, 137);

    --ff-source: "Source Sans Pro";
    --fs-title: 1.5rem;
    --fs-subtitle: 0.7rem;
    --fs-article-title: 1.3rem;
    --fs-card-title: 1rem;
    --fs-regular: 0.8rem;
}