:root {
    --mobile-header-height: 13vh;
    --mobile-main-height: calc(100vh - var(--mobile-header-height));
    --header-height: 10vh;
    --main-height: calc(100vh - var(--header-height));

    --bkg-image-color: rgb(33, 24, 82);
    --main-color: rgb(18, 11, 59);
    --secondary-color: rgb(70, 52, 169);
    --third-color: rgb(40, 33, 80);
    --card-hover-color: rgb(90, 67, 220);
    --grey-color: rgb(84, 81, 110);
    --pink-color: rgb(240, 74, 255);
    --pink-hover-color: rgb(243, 135, 253);
    --orange-color: rgb(232, 195, 137);

    --ff-source: "Source Sans Pro";
    --fs-title: 1.5rem;
    --fs-subtitle: 0.7rem;
    --fs-article-title: 1.3rem;
    --fs-card-title: 1rem;
    --fs-regular: 0.8rem;
}